@charset "UTF-8";
/****************************************
	COLOR
*****************************************/
.side_content_title_boder{background:#c94d53;}
.sub_title_ber{background:#c94d53;}
.side_menu .sikaku{color: #c94d53;}
.side_menu .fa{color: #c94d53;}
