@charset "UTF-8";
/****************************************
	COLOR
*****************************************/
.side_content_title_boder{background:#99ccff;}
.sub_title_ber{background:#99ccff;}
.side_menu .sikaku{color: #99ccff;}
.side_menu .fa{color: #99ccff;}
