@charset "UTF-8";
/****************************************
	COLOR
*****************************************/
.side_content_title_boder{background:#afafaf;}
.sub_title_ber{background:#afafaf;}
.side_menu .sikaku{color: #afafaf;}
.side_menu .fa{color: #afafaf;}
