@charset "UTF-8";
/****************************************
	COLOR
*****************************************/
.side_content_title_boder{background:#bce2e8;}
.sub_title_ber{background:#bce2e8;}
.side_menu .sikaku{color: #bce2e8;}
.side_menu .fa{color: #bce2e8;}
