@charset "UTF-8";
/****************************************
	COLOR
*****************************************/
.side_content_title_boder{background:#aec8a5;}
.sub_title_ber{background:#aec8a5;}
.side_menu .sikaku{color: #aec8a5;}
.side_menu .fa{color: #aec8a5;}
