@charset "UTF-8";
/****************************************
	COLOR
*****************************************/
.side_content_title_boder{background:#30454c;}
.sub_title_ber{background:#30454c;}
.side_menu .sikaku{color: #30454c;}
.side_menu .fa{color: #30454c;}
