@charset "UTF-8";
/****************************************
	COLOR
*****************************************/
.side_content_title_boder{background:#d2ded3;}
.sub_title_ber{background:#d2ded3;}
.side_menu .sikaku{color: #d2ded3;}
.side_menu .fa{color: #d2ded3;}
