@charset "UTF-8";
/****************************************
	COLOR
*****************************************/
.side_content_title_boder{background:#e9f0c6;}
.sub_title_ber{background:#e9f0c6;}
.side_menu .sikaku{color: #e9f0c6;}
.side_menu .fa{color: #e9f0c6;}
