@charset "UTF-8";
/****************************************
	COLOR
*****************************************/
.side_content_title_boder{background:#ccccff;}
.sub_title_ber{background:#ccccff;}
.side_menu .sikaku{color: #ccccff;}
.side_menu .fa{color: #ccccff;}
