@charset "UTF-8";
/****************************************
	COLOR
*****************************************/
.side_content_title_boder{background:#000;}
.sub_title_ber{background:#000;}
.side_menu .sikaku{color: #000;}
.side_menu .fa{color: #000;}
