@charset "UTF-8";
/****************************************
	COLOR
*****************************************/
.side_content_title_boder{background:#c9a16c;}
.sub_title_ber{background:#c9a16c;}
.side_menu .sikaku{color: #c9a16c;}
.side_menu .fa{color: #c9a16c;}
