@charset "UTF-8";
/****************************************
	COLOR
*****************************************/
.side_content_title_boder{background:#d3cfd9;}
.sub_title_ber{background:#d3cfd9;}
.side_menu .sikaku{color: #d3cfd9;}
.side_menu .fa{color: #d3cfd9;}
